# Ignoriere alle Dateien und Ordner (Quellcode bleibt geheim!)
*

# Ausnahme: Nur diese spezifischen Dateien dürfen versioniert/hochgeladen werden
!.gitignore
!README.md
!LICENSE.md
!header-banner-zetatron-collage.jpg
!zetatron_mascot.jpg

!new_bootscreen_logo.png
!assets/
assets/*
!assets/flags/
assets/flags/*
!assets/flags/de.svg
!assets/flags/gb.svg

!README_EN.md
